{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container">
    <h1>About Me</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Men Jaxon Xudoyberdiyev  - web dasturchiman. Men dasturlash va texnologiyalar bilan shug'ullanishni yaxshi ko'raman. Mening maqsadim, innovatsion yechimlar yordamida muammolarni hal qilish.</p>
        </div>
        <div class="col-md-6">
            <h2>My Skills</h2>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>JavaScript</li>
                <li>HTML/CSS</li>
                <li>Node.js</li>
            </ul>
        </div>
    </div>
    <h2>Contact Me</h2>
    <p>Email: example@example.com</p>
    <p>Phone: +998 90 123 45 67</p>
</div>
{% endblock %}
