{% extends "base.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<div class="row">
    {% for blog in blogs %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.excerpt }}</p>  <!-- Yozuvning qisqa tavsifi -->
                    <a href="{% url 'blog-detail' blog.pk %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

